html, body, div, span, a, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 16px;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: 'Molengo', sans-serif;
  list-style:none;
}

html,body {
  height:100%;
}

body {
  background-color:#080605;
  height:100%;
  background-attachment:fixed;
}

 #wrapper {
  width:100%;
 }

 #nav {
  color: #ccc;
  line-height: 20px;
  float:left;
  width: 225px;
  z-index: 99;
  background: rgba(7,2,2,0.80);
  position:fixed;
  top:0;
  left:0;
  height:100%;
 }


.hide-text {
  text-indent: -9999px;
}

h1 {
  background: url("../images/nav/logo.png") no-repeat scroll 0 30px transparent;
  height: 165px;
  margin: 0 auto;
  padding: 25px 0 0;
  text-align: center;
  width: 148px;
}

#nav ul {
  margin:0 0 0 35px;
}

#nav ul li a, #content p{
  font-family: 'Molengo', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color:#ccc;
}

#nav ul li a {
  display: block;
    margin: 0 1px;
    width: 100px !important;
}

a {
  color:#ccc;
  text-decoration:none;
}

a:hover {
  color:#f47e2c;
  text-decoration:none;
}

#footer {
  xposition:absolute;
  xbottom:10px;
  xleft:0;
}

#nav p#address {
  margin:55px 0 0 35px;
}

.addthis_toolbox {
  clear: both;
  margin: 20px auto 0 35px;
  width: 140px;
  display:none;
}

.addthis_button_facebook_like {
    margin: 0 2px 0 0;
    overflow: hidden;
    width: 47px;
}


/*  ----------------------------------------------------------------
  MaxCycle (Fullscreen Slideshow for use with jQuery Cycle Plugin)
  ----------------------------------------------------------------

  Demo at: http://www.aaronvanderzwan.com/maxcycle/
  Download and Info at: http://github.com/akv2/MaxCycle---jQuery-Plugin/
  Copyright (c) 2007-2011 Aaron Vanderzwan
  Dual licensed under the MIT and GPL licenses.
  http://jquery.malsup.com/license.html

*/
/*! Version: 2.0.5 (25-July-2012) */


.mc-hide-scrolls{
  overflow:hidden;
}

body .mc-cycle {
  height:100%;
  left:0;
  overflow:hidden;
  position:fixed;
  top:0;
  width:100%;
  z-index:-1;
}

div.mc-image {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position:center center;
  background-repeat:no-repeat;
  height:100%;
  overflow:hidden;
  width:100%;
}

.mc-old-browser .mc-image {
  overflow:hidden;
}


/*COMMON */

#content {
  background: none repeat scroll 0 0 rgba(7,2,2,0.80);
  margin: 0 0 0 475px;
}

#content #title {
  position:absolute;
  top:80px;
  left:550px;
}

#content p {
  position:absolute;
  top:125px;
  left:550px;
  width:40%;
}

#nav ul li#selected {
  color:#f47e2c;
  font-family: 'Molengo', sans-serif;
  font-size: 16px;
  line-height: 26px;
}


/* ABOUT */

#about {
  background-image: url("../images/common/about-bg.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}

/* MENU */

#menu {
  background-image: url("../images/common/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size:100%;
}

#content #menu-nav ul {
  width: 355px;
  margin: 130px 0 0 270px;
  width: 355px;
}

#content #menu-nav ul li {
  float: left;
  margin: 0 20px 0 0;
}

#menu #content #menu-title {
  width:79px;
}


.appetizers, .entrees, .sushi, .dessert, .drinks {
  display:none;
}

.dessert, .drinks {
  height:1200px;
}

#menu-content div.selected {
  clear: both;
  display: block !important;
  margin: 0 0 0 40px;
  padding: 40px 40px 40px 0;
}

#menu-nav li a.highlighted {
  color:#f47e2c;
}

.menu {
  width: 600px;
}

#menu-container {
  width:600px;
  overflow:autp;
}

#menu #content {
  margin: -131px 0 0 475px;
  padding: 130px 0 0;
  min-width:800px;
}

h2 {
  background-color: #F47E2C;
  color: #1e1302;
  padding: 5px;
  clear:both;
}

.row {
  border-bottom: 1px solid #F47E2C;
  color: #ccc;
  clear: both;
  padding:10px 0 10px 0;
  width:600px;
  overflow:auto;
}

.row.last {
  border:none;
}

h3 {
  display:inline;
  font-weight:normal;
}

em {
  font-style:italic;
  font-size:90%;
}

.price {
  float:right;
}

.clear {
  width:100%;
  height:0px;
  clear:both;
}

/* CONTACT */

#contact {
  background-image: url("../images/common/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  background-attachment:fixed;
}

.tooltip {
  display:none;
  background-color:#F47E2C;
  font-size:12px;
  height:15px;
  width:75px;
  padding:5px;
  color:#eee;
  opacity:100%;
  z-index:1000;
}

#contact #content, #about #content {
  min-height:1000px;
}

/* Iphone landscape */

@media all and (max-height: 530px and max-width: 400px)  {

  #nav {
    min-height:500px;
  }

  #nav ul li a {
    line-height:20px;
  }

  #nav p#address {
    margin:25px 0 0 35px;
  }

  .addthis_toolbox {
    display:none;
  }

  #about .addthis_toolbox {
    display:block;
  }

  #content {
    min-height:500px;
    margin:0 0 0 100px;
    width:900px !important;
  }

  #content #menu-title {
    left:520px;
  }

  #content p {
    left:450px;
  }
}